<section class="hero is-fullheight-with-navbar is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{loc.byId('system_title')}}
        </h1>
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
            <div class="field" formArrayName="types" *ngIf="typesList">
              <div class="field" *ngFor="let type of typesList; let i = index" [formGroupName]="i">
                <div class="field is-grouped">
                  <div class="field has-addons">
                    <div class="control">
                      <input class="input" type="text" formControlName="value" placeholder="{{loc.byId('system_type_hint')}}">
                    </div>
                    <div class="control">
                      <a class="button is-danger" (click)="onDeleteTypeClick(i)" title="{{loc.byId('delete_hint')}}">
                        X
                      </a>
                    </div>
                  </div>
                  <div class="field" formArrayName="subtypes" *ngIf="subtypesList(i)">
                    <div class="control" style="margin-top: 5px; margin-left: 10px; margin-bottom: 10px">
                      <label class="label">{{loc.byId('system_subtypes')}}:</label>
                    </div>
                    <div class="field" *ngFor="let subtype of subtypesList(i); let j = index" [formGroupName]="j" style="margin-left: 10px">
                      <div class="field has-addons" >
                        <div class="control">
                          <input class="input" type="text" formControlName="value" placeholder="{{loc.byId('system_subtype_hint')}}">
                        </div>
                        <div class="control">
                          <a class="button is-danger" (click)="onDeleteSubtypeClick(i, j)" title="{{loc.byId('delete_hint')}}">
                            X
                          </a>
                        </div>
                      </div>
                      <app-properties-list label="{{loc.byId('system_subtype_parameters')}}:" [properties]="subtypesPropertiesList(i, j)" [group]="subtype" [type]="type.value.id" [subtype]="subtype.value.id"></app-properties-list>
                    </div>
                    <a class="button is-warning" (click)="onAddSubtypeClick(i)" style="margin-left: 10px">
                      {{loc.byId('system_button_add_subtype')}}
                    </a>
                  </div>
                </div>
                <app-properties-list label="{{loc.byId('system_type_parameters')}}:" [properties]="typesPropertiesList(i)" [group]="type" [type]="type.value.id"></app-properties-list>
                <hr>
              </div>
              <a class="button is-warning" (click)="onAddTypeClick()">
                {{loc.byId('system_button_add_type')}}
              </a>
            </div>
            <hr>
            <app-properties-list label="{{loc.byId('system_global_parameters')}}:" [properties]="propertiesList" [group]="editForm"></app-properties-list>
            <div class="field is-grouped" style="margin-top: 10px">
              <div class="control">
                <button type="submit" class="button is-link" [disabled]="!editForm.dirty || !editForm.valid">{{loc.byId('system_button_save')}}</button>
              </div>
              <div class="control">
                <button type="button" class="button" [disabled]="!editForm.dirty" (click)="onCancelClick()">{{loc.byId('system_button_cancel')}}</button>
              </div>
            </div>
            <p class="help" *ngIf='editForm.dirty && editForm.valid'>* {{loc.byId('system_changes_hint')}}</p>
          </form>
      </div>
    </div>
    <app-loading-modal [isActive]="isBusy"></app-loading-modal>
  </section>
