<header class="hero-head">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="../../../assets/images/logo.png">
      </a>

      <a id="burger" role="button" class="navbar-burger burger"
      [ngClass]="{'is-active': isActivated}"
      aria-label="menu" aria-expanded="false" data-target="navbarMain" (click)="onBurgerClick()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu"
    [ngClass]="{'is-active': isActivated}">
      <div class="navbar-start">
        <a routerLink="/parts" class="navbar-item">
          {{loc.byId('header_catalog')}}
        </a>
        <a routerLink="/storage" class="navbar-item" *ngIf="currentUser.isUserLogged | async">
          {{loc.byId('header_storage')}}
        </a>
      </div>

      <div class="navbar-end">
        <a routerLink="/admin" class="navbar-item" *ngIf="currentUser.isAdmin">
          {{loc.byId('header_system')}}
        </a>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="false">
          <a class="navbar-link">
            {{loc.lang}}
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" *ngFor="let lang of loc.langList" (click)="loc.setLanguage(lang)">
              {{lang}}
            </a>
          </div>
        </div>
        <div class="navbar-item" *ngIf="!(currentUser.isUserLogged | async)">
          <div class="buttons">
            <a routerLink="/login" class="button is-warning">
              <strong>{{loc.byId('header_login')}}</strong>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="currentUser.isUserLogged | async">
          <a class="navbar-link">
            {{currentUser.userName | name}}
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" (click)="onLogoutClick()">
              {{loc.byId('header_logout')}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
