<header class="hero-head">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="../../../assets/images/logo.png">
      </a>

      <a id="burger" role="button" class="navbar-burger burger"
      [ngClass]="{'is-active': isActivated}"
      aria-label="menu" aria-expanded="false" data-target="navbarMain" (click)="onBurgerClick()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu"
    [ngClass]="{'is-active': isActivated}">
      <div class="navbar-start">
        <a routerLink="/parts" class="navbar-item">
          Список деталей
        </a>
        <a routerLink="/storage" class="navbar-item" *ngIf="auth.isUserLogged">
          Хранилище
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item" *ngIf="!auth.isUserLogged">
          <div class="buttons">
            <a routerLink="/login" class="button is-warning">
              <strong>Войти</strong>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.isUserLogged">
          <a class="navbar-link">
            {{currentUser.userName | name}}
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" (click)="onLogoutClick()">
              Выйти
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
