<nav class="pagination is-centered" role="navigation" aria-label="pagination" (click)="onPageClick($event)">
  <button class="pagination-previous" label="prev" title="Предыдущая страница" [disabled]="!prevButtonAvailable()">Предыдущая</button>
  <button class="pagination-next" label="next" title="Следущая страница" [disabled]="!nextButtonAvailable()">Следующая</button>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link" label="first" title="Первая страница" *ngIf="firstPageAvailable()">1</a>
    </li>
    <li>
      <span class="pagination-ellipsis" *ngIf="prevDotsAvailable()">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" label="prev" title="Страница {{currentPage - 1}}" *ngIf="prevPageAvailable()">{{currentPage - 1}}</a>
    </li>
    <li>
      <a class="pagination-link is-current" title="Текущая страница"  label="current" aria-current="page" *ngIf="currentPageAvailable()">{{currentPage}}</a>
    </li>
    <li>
      <a class="pagination-link" label="next" title="Страница {{currentPage + 1}}" *ngIf="nextPageAvailable()">{{currentPage + 1}}</a>
    </li>
    <li>
      <span class="pagination-ellipsis" *ngIf="nextDotsAvailable()">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" label="last" title="Последняя страница" *ngIf="lastPageAvailable()">{{totalPages}}</a>
    </li>
  </ul>
</nav>