<div class="field is-grouped">
  <div class="control">
    <label class="label">{{title}}</label>
  </div>
  <div class="field" formArrayName="properties" *ngIf="subtypesPropertiesList(i, j)">
    <div class="field" *ngFor="let property of subtypesPropertiesList(i, j); let k = index"  style="margin-left: 10px">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" [formControlName]="k" placeholder="Параметр">
        </div>
        <div class="control">
          <a class="button is-danger" (click)="onDeleteSubtypePropertyClick(i, j, k)">
            X
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="control" style="margin-left: 20px">
    <a class="button is-warning" (click)="onAddSubtypePropertyClick(i, j)">
      +
    </a>
  </div>
</div>