<header class="hero-head">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="../../../assets/images/logo.png">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/home" class="navbar-item">
          Список деталей
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a routerLink="/login" class="button is-primary">
              <strong>Войти</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
