<div class="modal"
  [ngClass]="{'is-active': isActive}">
    <div class="modal-background" [ngStyle]="{opacity: .5}"></div>
    <div class="modal-content has-text-centered">
      <article class="message is-warning">
        <div class="message-header">
          <p>{{loc.byId('storage_confirm_popup_title')}}</p>
        </div>
        <div class="message-body">
           {{caseSelected ? loc.byId('storage_confirm_popup_storage') : loc.byId('storage_confirm_popup_case')}} ?
        </div>
        <div class="buttons is-centered" style="margin: 10px">
          <button class="button is-danger" (click)="onConfirmClick()">{{loc.byId('button_yes')}}</button>
          <button class="button" (click)="onCancelClick()">{{loc.byId('button_no')}}</button>
        </div>
      </article>
    </div>
  </div>
