<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="submitForm()">
      <div class="is-grouped">
        <label class="label">Название</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" formControlName="title" placeholder="Название">
          </div>
          <div class="control" *ngIf="isEditAvailable()">
            <a class="button is-info" (click)="onEditClick()">
              Редактировать
            </a>
          </div>
        </div>
        <p class="help is-warning" *ngIf="editForm.get('title').touched && editForm.hasError('required', ['title'])">Название не должно быть пустым</p>
      </div>
      <div class="field is-grouped" style="margin-top: 10px" *ngIf="typesService.isReady">
        <div class="field" *ngIf="editForm && (currentTypeValue || isEditMode) && availableTypes.length > 0">
          <label class="label">Тип</label>
          <div class="control">
            <input class="input" type="text" value="{{currentTypeValue}}" *ngIf="!isEditMode" disabled>
            <div class="select" *ngIf="isEditMode">
              <select formControlName="type">
                <option selected disabled hidden value=null>Выбрать</option>
                <option *ngFor="let field of availableTypes; let i = index" [value]="field.id">{{field.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field" style="margin-left: 10px" *ngIf="editForm && (currentSubtypeValue || isEditMode) && availableSubtypes.length > 0">
          <label class="label">Подтип</label>
          <div class="control">
            <input class="input" type="text" value="{{currentSubtypeValue}}" *ngIf="!isEditMode" disabled>
            <div class="select" *ngIf="isEditMode">
              <select formControlName="subtype">
                <option selected value=null>Нет</option>
                <option *ngFor="let field of availableSubtypes; let i = index" [value]="field.id">{{field.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="field" formArrayName="properties" *ngIf="(propertiesList != null && propertiesList.length > 0 ) || isEditMode" style="margin-top: 10px">
        <label class="label">Параметры</label>
        <div class="field has-addons" *ngFor="let property of propertiesList; let i = index" [formGroupName]="i">
          <span class="select" *ngIf="isEditMode">
            <select formControlName="name">
              <option selected hidden value="null">?</option>
              <option hidden *ngIf="property.value.name" value="{{property.value.name}}">{{property.value.name}}</option>
              <option *ngFor="let field of availableProperties; let j = index" [value]="field">{{field}}</option>
            </select>
          </span>
          <div class="control">
            <input class="input" type="text" formControlName="value" placeholder="Параметр" *ngIf="isEditMode">
            <input class="input" type="text" value="{{property.value.name}}: {{property.value.value}}" placeholder="Параметр" *ngIf="!isEditMode" disabled>
          </div>
          <div class="control" *ngIf="isEditMode">
            <a class="button is-danger" (click)="onDeletePropertyClick(i)">
              X
            </a>
          </div>
        </div>
        <a class="button is-warning" (click)="onAddPropertyClick()" *ngIf="isEditMode">
          Добавить
        </a>
      </div>
      <div class="field">
        <label class="label">Описание</label>
        <div class="control">
          <textarea class="textarea" type="password" formControlName="description" placeholder="Описание"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link" *ngIf="isEditMode" [disabled]="!editForm.dirty || editForm.invalid">Сохранить</button>
        </div>
        <div class="control">
            <button type="button" class="button is-text" *ngIf="isEditMode" (click)="onCancelClick()">Отмена</button>
          </div>
      </div>
    </form>
    <br>
  </div>