<section class="hero is-fullheight-with-navbar is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{loc.byId('register_title')}}
      </h1>
      <form [formGroup]="editForm" (ngSubmit)="submitForm()">
        <div class="field">
          <label class="label">{{loc.byId('register_name')}}</label>
          <div class="control">
            <input class="input" type="text" formControlName="name" placeholder="{{loc.byId('register_name_hint')}}">
          </div>
          <p class="help is-danger" *ngIf="editForm.get('name').touched && editForm.hasError('required', ['name'])">{{loc.byId('register_name_error_empty')}}</p>
          <p class="help is-danger" *ngIf="editForm.get('name').touched && editForm.hasError('maxlength', ['name'])">{{loc.byId('register_name_error_long')}}</p>
        </div>
        <div class="field">
          <label class="label">{{loc.byId('login_email_title')}}</label>
          <div class="control">
            <input class="input" type="email" formControlName="email" placeholder="{{loc.byId('login_email_hint')}}">
          </div>
          <p class="help is-danger" *ngIf="editForm.get('email').touched && editForm.hasError('required', ['email'])">{{loc.byId('login_email_error_empty')}}</p>
          <p class="help is-danger" *ngIf="editForm.get('email').touched && editForm.hasError('email', ['email'])">{{loc.byId('login_email_error_incorrect')}}</p>
        </div>
        <div class="field" formGroupName="password">
          <div class="field">
            <label class="label">{{loc.byId('login_password_title')}}</label>
            <div class="control">
              <input class="input" type="password" formControlName="new" placeholder="{{loc.byId('login_password_hint')}}">
            </div>
            <p class="help is-danger" *ngIf="editForm.get('password').get('new').touched && editForm.hasError('required', ['password', 'new'])">{{loc.byId('login_password_error_empty')}}</p>
            <p class="help is-danger" *ngIf="editForm.get('password').get('new').touched && editForm.hasError('length', ['password', 'new'])">{{loc.byId('login_password_error_short')}}</p>
          </div>
          <div class="field">
            <label class="label">{{loc.byId('register_password_repeat')}}</label>
            <div class="control">
              <input class="input" type="password" formControlName="confirm" placeholder="{{loc.byId('register_password_repeat_hint')}}">
            </div>
            <p class="help is-danger" *ngIf="editForm.get('password').touched && editForm.hasError('required', ['password', 'confirm'])">{{loc.byId('login_password_error_empty')}}</p>
            <p class="help is-danger" *ngIf="editForm.hasError('equal', ['password'])">{{loc.byId('register_password_error_equal')}}</p>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link" [disabled]="!editForm.valid">{{loc.byId('register_button_register')}}</button>
          </div>
          <div class="control">
            <button routerLink="/login" type="button" class="button is-text">{{loc.byId('register_button_back')}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
