<section class="hero is-fullheight-with-navbar is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th><span>#</span></th>
            <th><span>Название</span></th>
            <th><span>Описание</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let part of partsCollection" appRightClick (click)="onTableClick(part.id)" style="cursor: pointer">
            <th>{{part.id + 1}}</th>
            <td>{{part.title}}</td>
            <td>{{part.description | stringCutter}}</td>
          </tr>
        </tbody>
      </table>
      <app-pagination></app-pagination>
    </div>
  </div>
  <div class="modal"
  [ngClass]="{'is-active': isBusy}">
    <div class="modal-background" [ngStyle]="{opacity: .3}"></div>
    <div class="modal-content has-text-centered">
        <div class="notification">
          <strong>Загрузка</strong>
        </div>
    </div>
  </div>
</section>
