<section class="hero is-fullheight-with-navbar is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
      <div class="buttons is-centered" *ngIf="inSearchMode">
        <button type="button" class="button is-warning" (click)="onCancelSearchClick()">Закрыть поиск</button>
      </div>
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th><span>#</span></th>
            <th><span>Название</span></th>
            <th><span>Тип</span></th>
            <th><span>Описание</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let part of partsCollection; let i = index" appRightClick (click)="onTableClick(part.id)" style="cursor: pointer">
            <th>{{part.id + 1}}</th>
            <td>{{part.title}}</td>
            <td>{{getTypeValue(part.type)}}</td>
            <td>{{part.description | stringCutter}}</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons is-centered" *ngIf="!inSearchMode">
        <button type="button" class="button is-warning" (click)="onAddPartClick()">Добавить</button>
      </div>
      <app-pagination [isVisible]="!inSearchMode"></app-pagination>
    </div>
  </div>
  <app-loading-modal [isActive]="isBusy"></app-loading-modal>
</section>
